PORT=5173
BASE_PATH=/
BASE_URL=http://localhost:5173
VITE_API_URL=http://localhost:3001

# Better Auth Configuration
BETTER_AUTH_SECRET=+IwJ1Q3cmiFKMb4Gm5U507ZqQekHS7QpWIuy+azDGRk=
BETTER_AUTH_URL=http://localhost:5173
